<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Dropbox</display-name>
  <welcome-file-list>
    <welcome-file>welcome.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Jersey REST Service</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>service</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>servlets.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <display-name>de.vogella.jersey.first</display-name>
  <servlet>
    <description></description>
    <display-name>Space</display-name>
    <servlet-name>Space</servlet-name>
    <servlet-class>servlets.Space</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Space</servlet-name>
    <url-pattern>/Space</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Folder</display-name>
    <servlet-name>Folder</servlet-name>
    <servlet-class>servlets.Folder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Folder</servlet-name>
    <url-pattern>/Folder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Upload</display-name>
    <servlet-name>Upload</servlet-name>
    <servlet-class>servlets.Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchEngine</display-name>
    <servlet-name>SearchEngine</servlet-name>
    <servlet-class>servlets.SearchEngine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchEngine</servlet-name>
    <url-pattern>/SearchEngine</url-pattern>
  </servlet-mapping>
</web-app>